<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Py4j Provider PhotonTarget" sequenceNumber="41">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license/1.0.1.v20140414-1359"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/2020-06"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
<unit id="org.slf4j.apis.log4j" version="1.7.10.v20160208-0839"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170516192513/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/ecf/3.14.21/site.p2"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://raw.githubusercontent.com/ECF/Py4j-OSGi/master/build/"/>
		<unit id="org.eclipse.ecf.py4j.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeSource="true" missingManifest="ignore" type="Maven">
		<groupId>com.google.protobuf</groupId>
		<artifactId>protobuf-java</artifactId>
		<version>4.0.0-rc-2</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>org.apache.commons</groupId>
		<artifactId>commons-exec</artifactId>
		<version>1.3</version>
		<type>jar</type>
	</location>
	<location includeSource="true" missingManifest="generate" type="Maven">
		<groupId>com.diffplug.osgi</groupId>
		<artifactId>com.diffplug.osgi.extension.sun.misc</artifactId>
		<version>0.0.0</version>
		<type>jar</type>
	</location>
</locations>
</target>